<nav class="navbar">
    <div class="nav-wrapper black" data-activates="mobile-demo">
        <a ui-sref="home"><traverse-logo class="pull-left"></traverse-logo></a>
         <ul id="nav-mobile" class="right hide-on-med-and-down" ng-show="!isLoggedIn()">
            <li ng-repeat="item in loggedOutitems">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down" ng-show="isLoggedIn()">
            <li ng-repeat="item in loggedInItems">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li><a ng-show="isLoggedIn()" ng-click="logout()" style="float: right;">LOGOUT</a></li>
        </ul>
    </div>
</nav>