#home {
  .home-bg,
  .triangles-bg
  {
      position:relative;
      background-attachment:fixed;
  }
  .home-bg {
    min-height:599px;
    background-position:center top;
    background-color:black;
    background-image:url("/images/main_logo.jpg");
    background-repeat:no-repeat;
  }
  .triangles-bg {
    min-height:500px;
    background-image:url("/images/background5.png");
  }
  .pink-bg {
    max-height:400px;
    color:#777;
    background-color:#ffa69e;
  }
  .black-bg {
    max-height:400px;
    color:#777;
    background-color:black;
  }
  .lilac-bg {
    max-height:400px;
    color:#ddd;
    background-color:#8593b6;
  }
  .caption {
    padding:18px;
    position:absolute;
    top:40%;
    width:100%;
    text-align:center;
    letter-spacing:10px;
    font-size:30px;
    font-family:'Dosis', sans-serif;
  }
  .span {
    background-color:#111;
    color:white;
    opacity:0.75;
  }
  h3 {
    padding:100px;
    margin:0 auto;
    text-align:center;
    letter-spacing:5px;
    text-transform:uppercase;
    font:20px "Dosis", sans-serif;
    color:#faf3dd;
  }
}
