<div class="page-footer footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>CREATE YOUR MINDSCAPE</h5>
                <p class="grey-text text-lighten-4">Now you can finally traVerse through your mind's eye.<br><br>© 2016 traVerse</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>LINKS</h5>
                <ul ng-show="!isLoggedIn()">
                    <li ng-repeat="item in loggedOutitems">
                        <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a><span ng-if="!$last">&nbsp; / &nbsp;</span>
                    </li>
                </ul>
                <ul ng-show="isLoggedIn()">
                    <li ng-repeat="item in loggedInItems">
                        <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a><span ng-if="!$last">&nbsp; / &nbsp;</span>
                    </li>
                    <li><a ng-show="isLoggedIn()" ng-click="logout()">LOGOUT</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>