#entries {
	padding-top:25px;
	text-align:center;
	margin:0 auto;
	text-transform:none;
	hr {
		border-top:1px solid #8493b5;
	}
	a{
		color:#8493b5;
	}
	a:hover {
		color:#9fafd5;
        text-decoration:none;
    }

    strong {
      font-weight:bold;
    }

	h4{
		color:#465a86;
		text-transform: uppercase;
	}
	h6{
		font: 15px;
	}
	p{
		margin-left:300px;
		margin-right:300px;
	}
}

.words {
	background:#faf3dd;
	margin-right:110px;
}

.pointer {
	cursor: pointer;
	color:#8493b5;
}

body.entries-page {
	font-family: 'Dosis', sans-serif;
	background: #faf3dd;
	background-image: url('/images/background6.jpg');
	min-height:1000px;
	background-position: right top;
	background-repeat:repeat-y;
}

// section#entries {
//     width: 100%;
//     color: black;
//     text-transform:none;
//     background-repeat:repeat-x;
//     background-color:#fbf5df;
//     background-position:0px 50px;
// }
