#entries {
	padding-top:25px;
	text-align:center;
	margin:0 auto;
	h4{
		text-transform: uppercase;
	}
	h6{
		font: 15px;
	}
	p{
		margin-left:250px;
		margin-right:250px;
	}
}

.words {
	background: #faf3dd;
	margin-right:110px;
}

.pointer {
	cursor: pointer;
	color:#8493b5;
}

body.entries-page {
	font-family: 'Dosis', sans-serif;
	background: #faf3dd;
	background-image: url('/images/background6.jpg');
	min-height:1000px;
	background-position: right top;
	background-repeat:repeat-y;
}