.footer {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: black;
    padding-top:5px;
    color: #b9f3e7;
    font-family: 'Dosis', sans-serif;
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: #b9f3e7;
    }
    li {
    display: inline-block;
    }
}
