.footer {
    margin-top: 0px;
    background-color: black;
    padding-top:5px;
    color: #b9f3e7;
    text-transform:none;
    font-family: 'Dosis', sans-serif;
    a {
        font-size:12px;
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: #b9f3e7;
    }
    p {
        font-size:12px;
    }
    li {
        display: inline-block;
    }
}
