.navbar {
    font: 15px "Dosis", sans-serif;
    background-color: black;
    margin-bottom:0px;
    ul {
        padding-top:25px;
        display:block;
        a {
            color: white;
        }
        a:hover {
            background-color: rgba(0, 0, 0, 0);
            text-decoration:none;
            color: #b9f3e7;
        }
        a.active {
            color: #b9f3e7;
            text-decoration:none;   
        }
        a.current {
            color: #b9f3e7;
        }
    }
    fullstack-logo {
        width: 40px;
        margin-top: 4px;
        margin-left: 15px;
    }
}
