navbar {
    nav {
        display: block;
        background-color: black;
        ul {
            a:hover {
                background-color: rgba(0, 0, 0, 0);
            }
        }
        a {
            color: white;
        }
        a:hover {
            color: #b9f3e7;
        }
    }
    fullstack-logo {
        width: 40px;
        margin-top: 4px;
        margin-left: 15px;
        float: left;
    }
}
