#entry {
    font-family: 'Dosis', sans-serif;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 25px;
    width: 40%;
    margin: 0 auto;
    label {
        color: black;
        font-size: 1em;
    }
    input {
        border-bottom: 1px solid black;
        &:focus {
            box-shadow:0 1px 0 0 #383e4d;
        }
    }
    ::-webkit-input-placeholder {
        color:#383e4d;
    }
    div.tinymce {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .form-control .my-datepicker{
    height: 10px;
    padding: 11px;
    }

    .my-datepicker .btn {
    padding: 1px 2px;
    }

    table {
        button {
            padding: 5px;
        }
    }

}
