section#entry {
    h2 {
        text-align: center;
        font: 34px "Dosis", sans-serif;
        color:black;
    }
    .background {
    	background-image: url("/images/background4.jpg");
    }

}

body {
    width: 100%;
    font: 15px "Dosis", sans-serif;
    color: black;
    text-transform:none;
    margin: 0 auto;
    a:hover {
        text-decoration:none;
    }
    input {
        border-bottom: 1px solid #fff;
        &:focus {
            box-shadow:0 1px 0 0 #383e4d;
        }
    }
    ::-webkit-input-placeholder {
        color:#383e4d;
    }

    .tinymcestyle {
      background-color:white;
      color:black;
      margin: 0 auto;
      height:500px;
      width:500px;
      box-shadow:3px 3px 3px grey;
      // &:focus {
      //   outline {
      //     outline-color:none;
      //     outline-style:auto;
      //     outline-width:1px;
      //   }
      // }
      a[href] {
        text-decoration: underline;
      }
    }
}

nav {
  max-height:50px;
  ul {
  	a:hover{
  		background-color:rgba(0,0,0,0);
  	}
  }
  a {
    color:white;
  }
  a:hover{
    color:#b9f3e7; 
  }
}

