section#entry {
  width:1000px;
    h2 {
        margin-top: 75px;
        text-align: center;
        font: 34px "Dosis", sans-serif;
        color: black;
    }
}

.warning {
  color:red;
}

.paper-size {
  margin: 0 auto;
  // width:800px;
}

body.entry-page {
    background: url("/images/background4.jpg");
    color: black;
    text-transform: none;
    background-repeat: repeat-x;
    background-color: #fbf5df;
    background-position: 0px 50px;
}

a:hover {
    text-decoration: none;
}

.tinymcestyle {
    background-color: white;
    color: black;
    min-height: 300px;
    height: auto;
    // width: 100%;
    padding: 20px;
    box-shadow: 3px 3px 3px grey;
    &:focus {
        outline: none;
    }
    a[href] {
        text-decoration: underline;
    }
    strong {
        font-weight: bold;
    }
}
