<navbar></navbar>
<section id="login">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <span class="caption span">&nbsp;log in to traVerse&nbsp;</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">
                    <alert type="danger" ng-show="error">{{ error }}</alert>
                    <div class="row">
                        <div class="input-field col s12">
                            <label>Email address</label>
                            <input type="text" ng-model="login.email" name="email" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label>Password</label>
                            <input type="password" ng-model="login.password" class="form-control" id="login-password" required>
                        </div>
                    </div>
                    <button id="login-btn" type="submit" class="btn btn-default">Log In</button>
                    <p>Don't have an account?
                        <br>
                        <a class="span-btn" href="/signup">&nbsp;Sign up here.&nbsp;</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
<footer></footer>
