#login-form {
    width:35%;
    margin:0 auto;
    p {
        text-align:center;
        color:white; 
    }
    label {
        color:white;
        font-size:1em;
    }
    input {
        border-bottom:1px solid #fff;
        &:focus {
            box-shadow:0 1px 0 0 #383e4d;
        }
    }
    ::-webkit-input-placeholder {
        color:#383e4d;
    }
}
