section#login {
    .caption {
        position:absolute;
        margin:1rem 0 0 0;
        text-align:center;
        letter-spacing:10px;
        font:24px "Dosis", sans-serif;
    }
    .span {
        margin-left:240px;
        background-color:#111;
        color:white;
        opacity:0.75;
    }
    .span-btn {
        background-color:#111;
        color:white;
        opacity:0.75;
    }
    a {
        color:white;
    }
    a:hover {
        color:#b8f2e6;
    }
}

body.login-page {
    background-image:url("/images/background3.jpg");
    font:15px "Dosis", sans-serif;
    text-transform:uppercase;
    color:white;
    a:hover {
        text-decoration:none;
    }
    footer {
        position:absolute;
        width:100%;
        bottom:0;
        &:a {
            color:blue;
        }
    }
}
