#about {
  .traverse-bg,
  .triangles-bg {
      position:relative;
      background-attachment:fixed;
  }
  .traverse-bg {
    min-height:400px;
    background-color:black;
    background-position:center center;
    background-repeat:no-repeat;
    background-image:url("/images/about_logo.jpg");
  }
  .triangles-bg {
    min-height:500px;
    background-image:url("/images/background5.png");
  }
  .graph1 {
    padding-bottom:370px;
    min-height:500px;
    background-color:black;
    background-position:center bottom;
    background-repeat:no-repeat;
    background-image:url("/images/graphs.jpg");
  }
  .graph2 {
    padding-bottom:370px;
    min-height:500px;
    background-color:black;
    background-position:center bottom;
    background-repeat:no-repeat;
    background-image:url("/images/graph2.jpg");
  }
  .graph3 {
    padding-bottom:370px;
    min-height:500px;
    background-color:black;
    background-position:center bottom;
    background-repeat:no-repeat;
    background-image:url("/images/graph3.jpg");
  }
  .black-bg {
    max-height:200px;
    color:#777;
    background-color:black;
  }
  .lilac-bg {
    min-height:250px;
    color:#777;
    background-color:#8b9bbd;
    a {
      color:black;
    }
    a:hover {
      color:white;
      text-decoration:none;
    }
  }
  .caption {
    padding:18px;
    position:absolute;
    top:40%;
    width:100%;
    text-align:center;
    letter-spacing:10px;
    font-size:30px;
    font-family:'Dosis', sans-serif;
  }
  .border {
    background-color:transparent;
    color:#32353F;
  }
  .span {
    background-color:#111;
    color:white;
    opacity:0.75;
  }
  img.contributors {
    width:200px;
    height:200px;
  }
  h3 {
    padding:100px;
    margin:0 auto;
    text-align:center;
    letter-spacing:5px;
    font:20px "Dosis", sans-serif;
    color:#faf3dd;
  }
}
