section#singleEntry {
    padding-top:25px;
    text-align:center;
    margin:0 auto;
    text-transform:none;
    text-align:center;

    .card {
        padding-top:30px;
    }

    .card-title{
        color:#465a86;
        text-transform:uppercase;
    }

    .card-content {
        font-size:19px;
        line-height:1.8;
        color:black;
        background-color:white;
        margin:-30px 15px -20px 15px;
    }
    p {
        font-size:19px;
        line-height:1.8;
    }
    a{
        font-size:16px;
        color:#8493b5;
    }
    a:hover {
        color:#9fafd5;
        text-decoration:none;
    }
}
    strong {
        font-weight:bold;
    }

body.singleEntry-page {
    font-family:'Dosis', sans-serif;
    background:#faf3dd;
    background-image:url('/images/background6.jpg');
    background-position:right top;
    background-repeat:repeat-y;
    footer {
        position:absolute;
        width:100%;
        bottom:0;
        &:a {
            color:blue;
        }
    }
}
