body.singleEntry-page {
    font-family: 'Dosis', sans-serif;
    background: #faf3dd;
    background-image: url('/images/background6.jpg');
    min-height:1000px;
    background-position: right top;
    background-repeat:repeat-y;
}

section#singleEntry {
    padding-top:25px;
    text-align:center;
    margin:0 auto;
    text-transform:none;
    text-align:center;
    a{
        font-size:22px;
        color:#8493b5;
    }
    a:hover {
        color:#9fafd5;
        text-decoration:none;
    }
    h4{
        color:#465a86;
        text-transform: uppercase;
    }
    p {
        font-size:19px;
        line-height:1.8;
    }
    a:hover {
        text-decoration:none;
    }
}

strong {
    font-weight:bold;
}
