section#signup {
    h1 {
        margin:1rem 0 0 1.5rem;
        text-align:center;
        letter-spacing:10px;
        font:24px "Dosis", sans-serif;
    }
    a {
        color:#b9f3e7;
    }
    a:hover {
        color:black;
    }
}

body.signup-page {
    background:url("/images/background3.jpg");
    font:15px "Dosis", sans-serif;
    text-transform: uppercase;
    color:white;
    a:hover {
        text-decoration:none;
    }
}
