section#signup {
    h1 {
        text-align: center;
        font: 35px "Dosis", sans-serif;
    }
    a {
        color: #b9f3e7;
    }
    a:hover {
        color: #aed9e0;
    }
}

body {
    height: 100%;
    font: 15px "Dosis", sans-serif;
    text-transform: uppercase;
    color: white;
    background-image: url("/images/background3.jpg");
    a:hover {
        text-decoration:none;
    }
}
