section#signup {
    max-height:100px;
    h1 {
        text-align: center;
        font: 35px "Dosis", sans-serif;
        color:black;
    }
    a {
        color: #b9f3e7;
    }
    a:hover {
        color: #aed9e0;
    }
}

body.signup-page {
    background: url("/images/background3.jpg");
}
